* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

body {
  color: rgb(255, 255, 255);
  background: #030D19;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #030D19;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 79, 158, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 79, 158, 0.8);
}

html {
  scroll-behavior: smooth;
}